body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #FF8C00;
    color: white;
    margin: 0px;
    height: 450px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    margin: 10px 0px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    gap: 50px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

p {
    margin: 8px 0px;
}

button {
    color: white;
    background-color: #3882F6;
    font-size: 16px;
    padding: 8px 32px;
    border-radius: 12px;
}

img {
    flex-shrink: 0;
    border-radius: 12px;
}

.containers img {
    border: solid orange;
}

.two {
    height: 450px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: 900;
    padding: 32px;
}

.container {
    display: flex;
    padding: 32px;
}

.containers {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.info2 {
    text-align: center;
    width: 150px;
}

.three {
    height: 450px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.three p {
    font-size: 36px;
    font-style: italic;
    padding: 0 200px;
}

.author {
    display: flex;
    justify-content: right;
    padding: 0 200px;
    font-size: 20px;
}

.four {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.top {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.bluebox {
    background-color: #3882F6;
    color: white;
    display: flex;
    flex: 1;
    margin: 0 200px;
    padding: 50px 100px;
    justify-content: space-between;
    border-radius: 12px;
}

.action {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.button2 {
    border: solid white;
    font-weight: 700;
}

.footer {
    background-color: #FF8C00;
    display: flex;
    height: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}